.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25vh;
}

.about-header {
    display: flex;
    color: whitesmoke;
    justify-content: center;
    margin-top: 5vh;
}

@media (max-width: 800px) {
    .skills {
        margin-top: 5vh;
        flex-direction: column;
    }
}

.skills h1 {
    font-size: 10vw;
    color: white;
}


