.name-header {
    margin-left: 10vw;
}

.home_mainBox h1 {
    color: white;
    font-size: 4vw;
}

.home_mainBox h2 {
    color: whitesmoke;
    font-size: 1.5vw;
}

.home_mainBox img {
    height: 57vh;
    width: auto;
    border-radius: 10%;
    opacity: 0.8;
    transition: transform 1.25s ease-in-out;
}

.home_mainBox img:hover {
    transform: scale(1.1);
}

.home_mainBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15vh;
}

#name {
    color: rgb(43, 226, 202);
    font-size: 5.5vw;
}

.headshot-image {
    margin-right: 10vw;
}