.name-header {
    margin-left: 10vw;
}

.home_mainBox h1 {
    color: white;
    font-size: 4vw;
}

.home_mainBox h2 {
    color: whitesmoke;
    font-size: 1.75vw;
}

.home_mainBox img {
    max-height: 57vh;
    width: auto;
    border-radius: 10%;
    opacity: 0.8;
}


.home_mainBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15vh;
}

#name {
    color: rgb(43, 226, 202);
    font-size: 5.5vw;
    transition: 0.75s;
}

#name:hover {
    color:rgb(43, 226, 202);
    text-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
}

.headshot-image {
    margin-right: 10vw;
}

@media (max-width: 800px) {
    .home_mainBox {
        margin-top: 5vh;
        flex-direction:column;
        align-items: center;
        margin-left: 1vh;
    }

    .name-header {
        margin-left: 0;
    }

    .name-header h1 {
        font-size: 5vw;
    }

    #name {
        font-size: 6vw;
    }

    .name-header h2 {
        font-size: 3.5vw;
    }

    .headshot-image {
        margin-top: 20vw;
        margin-right: 0;
    }

    .home_mainBox img {
        max-width: 100%;
    }
}

