
.project-card {
    border: 2px;
    border-color: white;
    margin-top: 10vh;
    margin-left: 75vh;
    margin-right: 75vh;
    max-width: 80%;
}

.project-card a {
    color:black;
    border: 2px solid rgb(43, 226, 202);
    
}

.card-body {
    border: 5px solid whitesmoke;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    padding: 2vw;
    background-color: rgb(43, 226, 202);
    opacity: .9;
}